@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

.margin {
  width: 1200px;
  margin: 0 auto; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

#top {
  overflow: hidden; }
  #top #logo {
    float: left;
    display: block;
    width: 344px;
    height: 76px;
    background: url(../images/logozc.jpg) no-repeat center;
    margin-top: 20px; }
  #top .t_r {
    float: right;
    line-height: 120px;
    font-size: 13px;
    color: #959595;
    font-family: "黑体"; }
    #top .t_r a {
      color: #1eaa39; }

#dl {
  overflow: hidden;
  height: 600px;
  background: url(../images/dl_banner.jpg) no-repeat center;
  background-size: cover;
  width: 100%; }
  #dl form {
    float: right;
    width: 400px;
    overflow: hidden;
    background: #FFF;
    padding-bottom: 20px;
    border: 1px solid #f2f2f1;
    margin-top: 100px; }
    #dl form .content_top {
      height: 56px;
      background-color: #fafafc;
      font-family: 黑体;
      font-size: 16px; }
      #dl form .content_top h2 {
        color: #333333;
        font-size: 16px;
        line-height: 56px;
        float: left; }
        #dl form .content_top h2 #login_tab1 {
          width: 90px;
          height: 100%;
          float: left;
          text-align: center;
          border-bottom: 1px solid #eeeeee;
          cursor: pointer; }
        #dl form .content_top h2 #login_tab2 {
          width: 310px;
          float: left;
          text-indent: 20px;
          border-bottom: 1px solid #eeeeee;
          cursor: pointer; }
    #dl form .login_nr {
      width: 312px;
      margin: 0 auto;
      margin-top: 23px; }
      #dl form .login_nr #username {
        width: 300px;
        height: 36px;
        margin: 20px 0;
        line-height: 36px;
        border: 1px solid #deded3;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        padding-left: 10px; }
      #dl form .login_nr #password {
        width: 300px;
        height: 36px;
        margin: 20px 0 40px 0;
        line-height: 36px;
        border: 1px solid #deded3;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        padding-left: 10px; }
      #dl form .login_nr .infor {
        margin-top: 20px; }
      #dl form .login_nr .rem {
        color: #666666;
        font-size: 14px;
        float: left;
        vertical-align: middle;
        line-height: 16px; }
      #dl form .login_nr .forget {
        float: right;
        font-size: 14px;
        font-family: 黑体;
        color: #1eaa39; }
        #dl form .login_nr .forget a {
          color: #1EAA39;
          text-decoration: none;
          cursor: pointer; }
    #dl form #loginsubmit {
      width: 300px;
      height: 50px;
      line-height: 50px;
      font-family: 黑体;
      color: white;
      font-size: 16px;
      cursor: pointer;
      border: none;
      background: #1EAA39;
      border-radius: 8px; }
